fastapi==0.104.1
python-multipart==0.0.6
ultralytics==8.0.196
facenet-pytorch==2.5.3
numpy==1.24.3
opencv-python-headless==4.8.1.78
scipy==1.11.3
torch==2.1.0
cloudinary==1.36.0
requests==2.31.0
hypercorn==0.14.4